@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.alert {
    position: fixed;
    top: 5%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    color: #000;
    padding: 16px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    width: 250px;
    text-align: center;
    animation: fadeinout 2s;
}

.alert-green {
    background-color: #e6fff2;
    background: linear-gradient(180deg, #e6fff2 0%, #ccffe0 100%);
    border: 1px solid #66ff99;
}

.alert-yellow {
    background-color: #fff7e6;
    background: linear-gradient(180deg, #fff7e6 0%, #ffe8cc 100%);
    border: 1px solid #ffcc66;
}

.alert-red {
    background-color: #ffe6e6;
    background: linear-gradient(180deg, #ffe6e6 0%, #ffcccc 100%);
    border: 1px solid #ff8d8d;
}

.alert p {
    font-size: 20px;
    margin: 0 0 8px;
}