.keyboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.letter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.letter-button {
    background-color: #f2f2f2;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.letter-button:hover {
    background-color: #d9d9d9;
}

.keyword-buttons {
    display: flex;
    justify-content: center;
}

.backspace-button,
.enter-button {
    background-color: #f2f2f2;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.backspace-button:hover,
.enter-button:hover {
    background-color: #d9d9d9;
}

.keyboard-key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    background: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%);
    border: 1px solid #d9d9d9;
}

.keyboard-key-white:hover {
    background-color: #e6e6e6;
    background: linear-gradient(180deg, #e6e6e6 0%, #d9d9d9 100%);
    border: 1px solid #cccccc;
}

.keyboard-key-white {
    background-color: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%);
    border: 1px solid #d9d9d9;
}

.keyboard-key-yellow:hover {
    background-color: #ffe8cc;
    background: linear-gradient(180deg, #ffe8cc 0%, #ffcc66 100%);
    border: 1px solid #ff9933;
}

.keyboard-key-yellow {
    background-color: #fff7e6;
    background: linear-gradient(180deg, #fff7e6 0%, #ffe8cc 100%);
    border: 1px solid #ffcc66;
}

.keyboard-key-green:hover {
    background-color: #ccffe0;
    background: linear-gradient(180deg, #ccffe0 0%, #66ff99 100%);
    border: 1px solid #33cc66;
}

.keyboard-key-green {
    background-color: #e6fff2;
    background: linear-gradient(180deg, #e6fff2 0%, #ccffe0 100%);
    border: 1px solid #66ff99;
}

.keyboard-key-red:hover {
    background-color: #ffcccc;
    background: linear-gradient(180deg, #ffcccc 0%, #ff6666 100%);
    border: 1px solid #f80404;
}

.keyboard-key-red {
    background-color: #ffe6e6;
    background: linear-gradient(180deg, #ffe6e6 0%, #ffcccc 100%);
    border: 1px solid #ff8d8d;
}