  .play-again {
    position: fixed;
    top: 8%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    align-self: center;
    cursor: pointer;
    font-size: 80px;
  }

  .play-again:hover {
    color: #0b7dda;
  }