@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.play-again {
	position: fixed;
	top: 5%;
	right: 4%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	align-self: center;
	cursor: pointer;
	font-size: 65px;
	animation: fadein 1s;
}

.play-again:hover {
	transition: all 0.3s;
	color: #0b7dda;
}